<script id="ach-batch-entrytemplate" type="text/template">
  <? batchentryPrefix='batchentry-' +batchIndex+ '-'+entryIndex+ '-'; ?>
  <% include _ach_entry_partial %>
</script>
<script id="ach-batch-template" type="text/template">
  <? console.log( 'batchIndex',batchIndex)?>
  <? for(var a=0; a<=batchIndex;a++){ 
    var batchPrefix='batch-' +a+ '-'; 
    forbtest=(forbjectData.formdata.batches && forbjectData.formdata.batches[a]); 
    ?>
  <section data-batchIndex="<?-a?>" id="ach-batch-<?-a?>" class="ach-batch ts-form-row">
    <hr>
    <div class="ts-row ">
      <h6 class="ts-pull-left">Batch
        <?-a?>
      </h6>
      <small data-batchIndex="<?-a?>" id="remove-batch-button-<?-a?>" class="ts-button ts-text-xs ts-pull-right remove-button remove-batch-button">remove batch</small>
    </div>
    <section class="ts-form-row">
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>recordTypeCode">Record Type Code</label>
        <input id="<?- batchPrefix ?>recordTypeCode" class="ts-input <?- batchPrefix ?>recordTypeCode" name="batches[<?- a?>][recordTypeCode]" value="5" maxlength="1" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>serviceClassCode">Service Class Code</label>
        <input id="<?- batchPrefix ?>serviceClassCode" class="ts-input <?- batchPrefix ?>serviceClassCode" name="batches[<?- a?>][serviceClassCode]" maxlength="3" value="<?if( forbtest && forbjectData.formdata.batches[a]['serviceClassCode']){?><?-forbjectData.formdata.batches[a]['serviceClassCode']?><?}else{?>220<?}?>" />
      </div>
    </section>
    <section class="ts-form-row">
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>companyName">Company Name</label>
        <input id="<?- batchPrefix ?>companyName" class="ts-input <?- batchPrefix ?>companyName" name="batches[<?- a?>][companyName]" maxlength="16" value="<?if( forbtest && forbjectData.formdata.batches[a]['companyName']){?><?-forbjectData.formdata.batches[a]['companyName']?><?}else{?>ACME INC<?}?>" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>companyDiscretionaryData">Company Discretionary Data</label>
        <input id="<?- batchPrefix ?>companyDiscretionaryData" class="ts-input <?- batchPrefix ?>companyDiscretionaryData" name="batches[<?- a?>][companyDiscretionaryData]" maxlength="20" value="<?if( forbtest && forbjectData.formdata.batches[a]['companyDiscretionaryData']){?><?-forbjectData.formdata.batches[a]['companyDiscretionaryData']?><?}else{?> <?}?>" />
      </div>
    </section>
    <section class="ts-form-row">
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>companyIdentification">Company Identification</label>
        <input id="<?- batchPrefix ?>companyIdentification" class="ts-input <?- batchPrefix ?>companyIdentification" name="batches[<?- a?>][companyIdentification]" maxlength="10" value="<?if( forbtest && forbjectData.formdata.batches[a]['companyIdentification']){?><?-forbjectData.formdata.batches[a]['companyIdentification']?><?}else{?>471934319<?}?>" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>standardEntryClassCode">Standard Entry Class Code</label>
        <input id="<?- batchPrefix ?>standardEntryClassCode" class="ts-input <?- batchPrefix ?>standardEntryClassCode" name="batches[<?- a?>][standardEntryClassCode]" maxlength="3" value="<?if( forbtest && forbjectData.formdata.batches[a]['standardEntryClassCode']){?><?-forbjectData.formdata.batches[a]['standardEntryClassCode']?><?}else{?>PPD<?}?>" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>companyEntryDescription">Company Entry Description</label>
        <input id="<?- batchPrefix ?>companyEntryDescription" class="ts-input <?- batchPrefix ?>companyEntryDescription" name="batches[<?- a?>][companyEntryDescription]" maxlength="10" value="<?if( forbtest && forbjectData.formdata.batches[a]['companyEntryDescription']){?><?-forbjectData.formdata.batches[a]['companyEntryDescription']?><?}else{?>NEW PAYMENT<?}?>" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>companyDescriptiveDate">Company Descriptive Date</label>
        <input id="<?- batchPrefix ?>companyDescriptiveDate" class="ts-input <?- batchPrefix ?>companyDescriptiveDate" name="batches[<?- a?>][companyDescriptiveDate]" maxlength="6" value="<?if( forbtest && forbjectData.formdata.batches[a]['companyDescriptiveDate']){?><?-forbjectData.formdata.batches[a]['companyDescriptiveDate']?><?}else{?> <?}?>" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>effectiveEntryDate">Effective Entry Date</label>
        <input id="<?- batchPrefix ?>effectiveEntryDate" class="ts-input <?- batchPrefix ?>effectiveEntryDate" name="batches[<?- a?>][effectiveEntryDate]" maxlength="6" value="<?if( forbtest && forbjectData.formdata.batches[a]['effectiveEntryDate']){?><?-forbjectData.formdata.batches[a]['effectiveEntryDate']?><?}else{?>150410<?}?>" />
      </div>
      <div class="ts-col-span6 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>settlementDate">Settlement Date</label>
        <input id="<?- batchPrefix ?>settlementDate" class="ts-input <?- batchPrefix ?>settlementDate" name="batches[<?- a?>][settlementDate]" maxlength="3" value="<?if( forbtest && forbjectData.formdata.batches[a]['settlementDate']){?><?-forbjectData.formdata.batches[a]['settlementDate']?><?}else{?> <?}?>" />
      </div>
      <div class="ts-col-span4 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>originatorStatusCode">Originator Status Code</label>
        <input id="<?- batchPrefix ?>originatorStatusCode" class="ts-input <?- batchPrefix ?>originatorStatusCode" name="batches[<?- a?>][originatorStatusCode]" maxlength="1" value="<?if( forbtest && forbjectData.formdata.batches[a]['originatorStatusCode']){?><?-forbjectData.formdata.batches[a]['originatorStatusCode']?><?}else{?>1<?}?>" />
      </div>
      <div class="ts-col-span4 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>originatingDFI">Originating DFI</label>
        <input id="<?- batchPrefix ?>originatingDFI" class="ts-input <?- batchPrefix ?>originatingDFI" name="batches[<?- a?>][originatingDFI]" maxlength="9" value="<?if( forbtest && forbjectData.formdata.batches[a]['originatingDFI']){?><?-forbjectData.formdata.batches[a]['originatingDFI']?><?}else{?>281073555<?}?>" />
      </div>
      <div class="ts-col-span4 ts-form-padding">
        <label class="ts-label" for="<?- batchPrefix ?>batchNumber">Batch Number</label>
        <input id="<?- batchPrefix ?>batchNumber" class="ts-input <?- batchPrefix ?>batchNumber" name="batches[<?- a?>][batchNumber]" maxlength="7" value="<?if( forbtest && forbjectData.formdata.batches[a]['batchNumber']){?><?-forbjectData.formdata.batches[a]['batchNumber']?><?}else{?>0001<?- a ?><?}?>" />
      </div>
    </section>
    <section data-batchIndex="<?-a?>" id="ach-batch-entrycontainer-<?-a?>" class="ach-batch-entrycontainer ts-form-row">
      <% include _ach_entries_template %>
    </section>
    <section data-batchIndex="<?-a?>" id="ach-batch-entrybutton-container-<?-a?>" class="ach-batch-entrybutton-container ts-form-row">
      <small data-batchIndex="<?-a?>" id="add-batch-entry-button-<?-a?>" class="ts-button ts-text-xs ts-pull-right add-batch-entry-button">add batch entry</small>
    </section>
  </section>
  <?}?>
</script>