<? 
var existingEntriesTest = (typeof entriesCount === 'undefined' && forbtest && forbjectData.formdata.batches[batchIndex].entries);
if(existingEntriesTest){
  entriesCount = 0;
  for(var prop in forbjectData.formdata.batches[batchIndex].entries){
    entriesCount++;
  };
  forbtest = false;
}

if(typeof entriesCount !=='undefined'  && typeof batchIndex !=='undefined' ){ 
  for(var b=0; b< entriesCount; b++){ 
  entryIndex=b ;

    forbtest=(forbjectData.formdata.batches && forbjectData.formdata.batches[batchIndex]&& forbjectData.formdata.batches[batchIndex]['entries']&& forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]); 

   ?>

<?if(existingEntriesTest){?>
  <section class="ach-batchentry ts-form-row" id="ach-batchentry-<?-batchIndex?>-<?-entryIndex?>" data-batchindex="<?-batchIndex?>" data-entryindex="<?-entryIndex?>">
<?}?>
<hr>
<div class="ts-row ts-text-sm">
  <h6 class="ts-pull-left">Batch
    <?-batchIndex?> - Entry
      <?-entryIndex?>
  </h6>
  <small data-batchIndex="<?-batchIndex?>" data-entryIndex="<?-entryIndex?>" id="remove-batch-button-<?-batchentryPrefix?>" class="ts-button ts-text-xs ts-pull-right remove-button remove-batchentry-button">remove batch entry</small>
</div>
<section class="ts-form-row">
  <div class="ts-col-span6 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>recordTypeCode">Record Type Code</label>
    <input id="<?- batchentryPrefix ?>recordTypeCode" class="ts-input <?- batchentryPrefix ?>recordTypeCode" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][recordTypeCode]" value="6" maxlength="1" />
  </div>
  <div class="ts-col-span6 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>transactionCode">Transaction Code</label>
    <input id="<?- batchentryPrefix ?>transactionCode" class="ts-input <?- batchentryPrefix ?>transactionCode" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][transactionCode]" maxlength="2" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['transactionCode']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['transactionCode']?><?}else{?>22<?}?>" />
  </div>
</section>
<section class="ts-form-row">

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>receivingDFI">Receiving DFI Identification</label>
    <input id="<?- batchentryPrefix ?>receivingDFI" class="ts-input <?- batchentryPrefix ?>receivingDFI" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][receivingDFI]" maxlength="8" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['receivingDFI']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['receivingDFI']?><?}else{?>081000210<?}?>" />
  </div>

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>checkDigit">Check Digit</label>
    <input id="<?- batchentryPrefix ?>checkDigit" class="ts-input <?- batchentryPrefix ?>checkDigit" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][checkDigit]" maxlength="2" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['checkDigit']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['checkDigit']?><?}else{?>9<?}?>" />
  </div>

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>DFIAccount">DFI Account Number</label>
    <input id="<?- batchentryPrefix ?>DFIAccount" class="ts-input <?- batchentryPrefix ?>DFIAccount" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][DFIAccount]" maxlength="2" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['DFIAccount']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['DFIAccount']?><?}else{?>12345678901234567<?}?>" />
  </div>
</section>
<section class="ts-form-row">

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>amount">Amount</label>
    <input id="<?- batchentryPrefix ?>amount" class="ts-input <?- batchentryPrefix ?>amount" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][amount]" maxlength="10" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['amount']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['amount']?><?}else{?>35.23<?}?>" />
  </div>

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>idNumber">Individual Identification Number</label>
    <input id="<?- batchentryPrefix ?>idNumber" class="ts-input <?- batchentryPrefix ?>idNumber" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][idNumber]" maxlength="15" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['idNumber']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['idNumber']?><?}else{?>RAj##23920rjf31<?}?>" />
  </div>

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>individualName">Individual Name</label>
    <input id="<?- batchentryPrefix ?>individualName" class="ts-input <?- batchentryPrefix ?>individualName" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][individualName]" maxlength="2" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['individualName']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['individualName']?><?}else{?>Glen Selle<?}?>" />
  </div>
</section>
<section class="ts-form-row">

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>discretionaryData">Discretionary Data</label>
    <input id="<?- batchentryPrefix ?>discretionaryData" class="ts-input <?- batchentryPrefix ?>discretionaryData" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][discretionaryData]" maxlength="2" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['discretionaryData']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['discretionaryData']?><?}else{?>A1<?}?>" />
  </div>

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>addendaId">Addenda Record Indicator</label>
    <input id="<?- batchentryPrefix ?>addendaId" class="ts-input <?- batchentryPrefix ?>addendaId" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][addendaId]" maxlength="1" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['addendaId']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['addendaId']?><?}else{?>0<?}?>" />
  </div>

  <div class="ts-col-span4 ts-form-padding">
    <label class="ts-label" for="<?- batchentryPrefix ?>traceNumber">Trace Number</label>
    <input id="<?- batchentryPrefix ?>traceNumber" class="ts-input <?- batchentryPrefix ?>traceNumber" name="batches[<?- batchIndex?>][entries][<?- entryIndex?>][traceNumber]" maxlength="15" value="<?if( forbtest && forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['traceNumber']){?><?-forbjectData.formdata.batches[batchIndex]['entries'][entryIndex]['traceNumber']?><?}else{?>021214860000001<?}?>" />
  </div>
</section>

<?if(existingEntriesTest){?>
</section>
<?}?>
  <? }
  } ?>