<form id="ach" name="ach" class="ts-form">
  <div class="ts-row ">
    <h4 class="ts-pull-left">File Header</h4>
    <small id="optional-button" class="ts-button ts-text-xs ts-pull-right">show optional</small>
  </div>
  <div id="ach-file-header">
    <% include _ach_header %>
  </div>
  <section class="ts-container-margin-xl">
    <div class="ts-row ">
      <h4 class="ts-pull-left">ACH Batches</h4>
      <small id="add-batch-button" class="ts-button ts-text-xs ts-pull-right">add batch</small>
    </div>
    <div id="ach-file-batches"></div>
  </section>
</form>